/* Team.css */
.team-section {
  background-color: #005880; /* Section Background */
}

.team-header {
  color: white; /* Header color */
  font-size: 2rem; /* Font size for header */
  margin-bottom: 2rem;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: white; /* Card background color */
}

.card:hover {
  transform: scale(1.05);
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.social-links-bar {
  background-color: #003e63; /* Darker background for social links */
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0; /* Overlay the card */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  space-y: 1rem;
}

.social-icon {
  margin: 5px;
}

.plus-icon {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 5px;
  background-color: #003e63;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.plus-icon:hover {
  transform: rotate(45deg);
}

.close-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}

.management-team-grid {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.development-team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
}

@media (min-width: 640px) {
  .development-team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .development-team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .development-team-grid {
    grid-template-columns: repeat(6, 1fr); /* 6 columns on desktop */
  }
}
